@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
.content {
  width: 100%;
  .course-page {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    @include laptop1024_1279 {
      padding: 25px 0 0 0;
    }
    .course-heading-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .title {
        font-size: 22px;
        color: $gray202020;
        font-weight: $medium;
        margin: 0 auto 0 0;
        @include laptop1024_1279 {
          font-size: 20px;
        }
      }
      .search-bar {
        border-radius: 5px;
        position: relative;
        max-width: 230px;
        width: 100%;
        background: $white;
        margin: 0 7px 0 0;
        .MuiPaper-root{
          display: flex;
          height: 32px;
          .ForwardRef-iconButton-42{
            height: 35px;
            width: 35px;
            top: 7px;
            left: 20px;
          }
          .ForwardRef-iconButton-4{
            height: 35px;
            width: 35px;
            top: 7px;
            left: 20px;
          }
          .MuiButtonBase-root{
            width: 35px;
            height: 35px;
            top: 0px;
            left: -195px !important;
          }
        }
        .MuiSvgIcon-root{
          fill:$blue;
          font-size: 20px;
        }
        .MuiInputBase-fullWidth{
          width: 120%;
        }
        .ForwardRef-root-3{
          height: 32px !important;
        }
        input {
          height: 32px !important;
          color: $black;
          background: $white;
          border-radius: 4px;
          border: none;
          font-size: 12px !important;
          padding-left: 20px;
          @include laptop1024_1279 {
            height: 30px;
          }
          &::placeholder {
            font-size: 12px !important;
            color: $grayA2A2A2;
          }
        }
      }
      .group {
        width: auto;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        // btn
        .btn {
          height: 32px;
          line-height: 32px;
          display: flex;
          align-items: center;
          padding: 0 15px;
          margin: 0;
          transition: $transDefault;
          border-radius: 4px;
          background: $blue !important;
          @include laptop1024_1279 {
            height: 30px;
            line-height: 30px;
          }
          .icon {
            color: $white;
            margin: 0 5px 0 0;
            font-size: 16px;
          }
          span {
            font-size: 13px;
            font-weight: $semibold;
            color: $white;
            margin: 0;
            @include laptop1024_1279 {
              font-size: 12px;
            }
          }
          &:hover {
            background: $bluehover;
          }
        }
      }
    }
    .table-content {
      background: $white;
      box-shadow: 1px 1px 2px $white000d !important;
      border-radius: 8px;
      overflow-x: inherit;
      .learning-table {
        margin: 0;
        .MuiTableCell-root {
          font-family: "Poppins", sans-serif;
          color: $grayA2A2A2;
          font-size: 13px;
          font-weight: $regular;
          border: none;
          padding: 9px 0px 9px 0px;
        }
        .table-heading{
          color: $white !important;
        }
        .MuiTableRow-root {
          border-bottom: 1px solid $whitef5f7fa;
        }
        // <---- table-head ---->
        .MuiTableHead-root {
          border-bottom: 1px solid $whitef5f7fa;
          background: transparent;
          background-color: rgba(85,93,102,.8588235294117647);
          th:first-child {
            padding: 9px 0 9px 0px;
            text-align: center;
          }
          th:last-child {
            padding: 9px 15px 9px 0;
            text-align: right;
          }
          .MuiIconButton-label{
            color: white;
          }
          .check_group {
            .checkbox-style {
              .checkmark {
                top: -8px;
              }
            }
            .MuiCheckbox-colorSecondary.Mui-checked {
              color: #faad75 !important;
            }
          }
          // modified
          .modified {
            span {
              position: relative;
              padding: 0 17px 0 0;
              @include laptop1024_1279 {
                padding: 0 7px 0 0;
              }
              &:after {
                content: "\46";
                font-family: "whiz-business" !important;
                position: absolute;
                right: 0;
                color:$white;
                font-size: 12px;
                @include laptop1024_1279 {
                  display: none;
                }
              }
            }
          }
        }
        // <---- table-body ---->
        .MuiTableBody-root {
          th:first-child {
            padding: 9px 0 9px 15px;
          }
          td:last-child {
            padding: 9px 15px 9px 0;
          }
          // modified
          .modified {
            font-size: 13px;
            color: $grayb51596C;
            margin-left: 10px;
          }
          // members
          .members {
            span {
              font-size: 13px;
              font-weight: $medium;
              color: $blue;
              padding: 4px 7px;
              background: $blueEAF3FD;
              border-radius: 6px;
            }
          }
          // managers
          .managers {
            .profile {
              display: flex;
              align-items: center;
              line-height: 1.4;
              figure {
                max-width: 30px;
                margin-right: 10px;
                margin: 0 10px 0 0;
              }
              .detail {
                margin: 0;
                .user-name {
                  font-size: 13px;
                  color: $blue1f2430;
                }
                .user-id {
                  font-size: 12px;
                  color: $grayA2A2A2;
                }
              }
            }
          }
          // course
          .course {
            .course-img {
              display: flex;
              align-items: center;
              line-height: 1.4;
              figure {
                max-width: 30px;
                width: 100%;
                margin: 0px;  
                @include laptop1024_1279 {
                  max-width: 55px;
                }
              }
              .course-detail {
                color: $blue1f2430;
                font-size: 14px;
                font-weight: $medium;
                margin: 0;
                margin-left: 10px;
                .title-link{  
                  cursor: pointer;
                  color : #f16621d6 !important;
                  &:hover {
                    color: #f06421 !important;  
                    text-decoration: underline; 
                  }
                }
                @include laptop1024_1279 {
                  font-size: 13px;
                }
              }
            }
          }
          // actions
          .actions {
            position: relative;
            min-width: 25px;
            display: inline-block;
            text-align: right;
            font-size: 24px;
            margin: 0;
            cursor: pointer;
            transition: $transDefault;
            .icon-action {
              display: flex;
              justify-content: flex-end;
              color: $grayA2A2A2;
              transition: $transDefault;
            }
            &:hover .action-dropdown {
              color: $white846e6e;
              display: block;
            }
          }
          .action-dropdown {
            background: $white;
            position: absolute;
            right: 0;
            top: 24px;
            box-shadow: 2px 2px 10px $white0029;
            color: $gray51596B;
            display: none;
            z-index: 999;
            border-radius: 4px;
            ul {
              padding: 5px 0;
              margin: 0;
              li {
                padding: 5px 16px;
                .link {
                  display: flex;
                  align-items: center;
                  font-size: 13px;
                  color: $gray51596B;
                  white-space: nowrap;
                  .icon {
                    margin: 0 10px 0 0;
                  }
                  span {
                    margin: 0;
                  }
                }
                &:hover {
                  background: $whiteF4F5F7;
                  .link {
                    color: $blue1f2430;
                  }
                }
                &::before {
                  display: none;
                }
              }
            }
          }
          .check_group {
            .checkbox-style {
              .checkmark {
                top: -8px;
              }
            }
            .MuiCheckbox-colorSecondary.Mui-checked {
              color: #faad75 !important;
            }
          }
        }
      }
      .loader-div{
        display: flex;
        align-self: center;
        height: 30vh;
        span{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
