@import "../../config/variables.scss";

.deliver-sec {
	padding: 60px 0;
	.caption-block {
		text-align: center;
		margin-bottom: 30px;
		h2 {
			font-size: 28px;
			line-height: 1.2;
			font-weight: 400;
			color: #1F2430;
			margin-bottom: 15px;
			strong {
				font-weight: 700;
			}
		}
		p {
			font-size: 16px;
			line-height: 24px;
			color: #51596C;
		}
	}
	.upskill-box-group {
		display: grid;
		grid-gap: 35px;
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
		margin-bottom: 40px;
		.upskill-box {
			.img-box {
				.img-main {
					border-radius: 7px;
					overflow: hidden;
				}
				.img-icon {
					display: none;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50% , -50%);
					max-width: 100px;
					width: 100%;
				}
			}
			.caption {
				max-width: 315px;
				width: 100%;
				margin: 0 auto;
				h3 {
					font-size: 20px;
					line-height: 30px;
					font-weight: 500;
					color: #000;
					margin-bottom: 10px;
					margin-top: revert;
				}
				p {
					font-size: 14px;
					line-height: 23px;
					color: #51596C;
					margin: 0;
				}
			}
		}
	}
	.discussMore {
		max-width: 890px;
		width: 100%;
		margin: 0 auto;
	}
}

.discussMore {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F06421;
	border-radius: 15px;
	padding: 17px 68px;
	.para {
		font-size: 24px;
		font-weight: 400;
		color: #fff;
		margin: 0;
	}
	.btn-demo {
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		font-weight: 500;
		color: #1F2430;
		background: #fff;
		white-space: nowrap;
		border-radius: 8px;
		padding: 0 33px;
		&:hover {
			background: #eee;
		}
	}
}

