@import "../../config/variables.scss";

.fill-up-box {
  width: 100%;
  text-align: center;
  .btn-group {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      font-weight: 600;
      background: #f06421;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      margin: 0 5px;
      @include xsm {
        height: 37px;
        line-height: 37px;
        font-size: 13px;
      }
      @include sm {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
      @include md {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
    }
    .btn-demo {
      width: 20%;

      &:hover {
        background: #e05613;
      }
    }
    .btn-cancel {
      width: 35%;
      background: #51596c;
      &:hover {
        background: #70788c;
      }
    }
  }
}
.errormsg {
  color: #ff615e;
  font-size: 12px;
}
