@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
.live-sandbox-report-block {
  .mt-5{
    margin-top: 8px;
  }
  .btn-clr {
    margin-left: 10px;
  }
  .sandbox-report-table {
    margin: 0;
    width: 100%;
    .table-heading{
      font-weight: 500 !important;
      color: white !important;
    }
    .MuiTableCell-root {
      font-family: "Poppins", sans-serif;
      color: $grayA2A2A2;
      font-size: 13px;
      font-weight: $regular;
      border: none;
      padding: 10px;
    }
    .MuiTableRow-root {
      border-bottom: 1px solid $whitef5f7fa;
    }
    // <---- table-head ---->
    .MuiTableHead-root {
      border-bottom: 1px solid $whitef5f7fa;
      background: #555d66db;
      th:first-child {
        padding: 9px 15px 9px 15px;
      }
    }
    // <---- table-body ----->
    .MuiTableBody-root {
      td{
        padding: 5px 10px;
        &:first-child {
          padding: 9px 15px 9px 15px;
        }
        &:last-child {
          padding: 9px 15px 9px 0;
          text-align: center; 
        }
      }
      // content-box
      .content-box {
        font-size: 13px;
        color: $gray51596c;
        .icon-block {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: $grayb51596C;
          .icon {
            display: flex;
            align-items: center;
            margin: 0 15px 0 0;
            &:before {
              margin: 0 5px 0 0;
            }
          }
        }
      }
      .view-cred-box {
        cursor: pointer;
        text-decoration: underline;
        color: #0066ff;
      }
      .tab-no-content {
        text-align: center;
      }
    }
  }
  .refresh-btn {
    display: flex;
    align-items: center;
    background-color: #fe9b24;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 6px;
    .MuiSvgIcon-fontSizeMedium {
      color: #ffffff;
    }
  }
  .react-loader {
    display: flex;
    align-items: center;
  }
}