@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
.subscription-block {
  // research-report
  .research-report {
    // for-accoding
    .MuiPaper-root {
      background: transparent;
    }
    .MuiAccordionSummary-root {
      padding: 0;
      min-height: 0;
    }
    .MuiAccordionSummary-content {
      margin: 0;
    }
    .MuiAccordionDetails-root {
      padding: 0;
      display: inherit;
    }
    // course-heading-block
    .subs-heading-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-bottom: 10px;
      .title {
        font-size: 22px;
        color: $gray202020;
        font-weight: $medium;
        margin: 0 auto 0 0;
        @include laptop1024_1279 {
          font-size: 20px;
        }
      }
      .subs-search-bar {
        border-radius: 5px;
        position: relative;
        max-width: 230px;
        width: 100%;
        background: $white;
        margin: 0 7px 0 0;
        .MuiPaper-root {
          height: 32px;
          .ForwardRef-iconButton-42 {
            height: 35px;
            width: 35px;
            top: 7px;
            left: 20px;
          }
          .ForwardRef-iconButton-4 {
            height: 35px;
            width: 35px;
            top: 7px;
            left: 20px;
          }
          .MuiButtonBase-root {
            width: 35px;
            height: 35px;
            top: 0px;
            left: -178px !important;
          }
        }
        .MuiSvgIcon-root {
          fill: $blue;
          font-size: 20px;
        }
        .MuiInputBase-fullWidth {
          width: 120%;
        }
        .ForwardRef-root-3 {
          height: 32px !important;
        }
        input {
          height: 32px !important;
          color: $black;
          background: $white;
          border-radius: 4px;
          border: none;
          font-size: 12px !important;
          padding-left: 15px;
          @include laptop1024_1279 {
            height: 30px;
          }
          &::placeholder {
            font-size: 12px !important;
            color: $grayA2A2A2;
          }
        }
      }
      .btn {
        height: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 0;
        transition: $transDefault;
        border-radius: 4px;
        background: $blue !important;
        @include laptop1024_1279 {
          height: 30px;
          line-height: 30px;
        }
        .icon {
          color: $white;
          margin: 0 5px 0 0;
          font-size: 16px;
        }
        span {
          font-size: 13px;
          font-weight: $semibold;
          color: $white;
          margin: 0;
          @include laptop1024_1279 {
            font-size: 12px;
          }
        }
      }
    }
  }
  .table-content {
    background: $white;
    box-shadow: 1px 1px 2px $white000d !important;
    border-radius: 8px;
    overflow-x: inherit;
    .loader-div {
      display: flex;
      align-self: center;
      height: 30vh;
      span {
        display: flex;
        align-items: center;
      }
    }
    .subscription-table {
      margin: 0;
      .MuiTableCell-root {
        font-family: "Poppins", sans-serif;
        color: $grayA2A2A2;
        font-size: 13px;
        font-weight: $regular;
        border: none;
        padding: 10px 0;
      }
      .table-heading {
        color: $white !important;
        min-width: 150px;
      }
      .MuiTableRow-root {
        border-bottom: 1px solid $whitef5f7fa;
        .select-box {
          max-width: 130px;
        }
      }
      // <---- table-head ---->
      .MuiTableHead-root {
        border-bottom: 1px solid $whitef5f7fa;
        background: transparent;
        background-color: rgba(85, 93, 102, .8588235294117647);
        th:first-child {
          padding: 9px 0 9px 15px;
        }
        th:last-child {
          padding: 9px 15px 9px 0;
          text-align: right;
        }
        .check_group {
          .checkbox-style {
            .checkmark {
              top: -8px;
            }
          }
          .MuiCheckbox-colorSecondary.Mui-checked {
            color: #faad75 !important;
          }
        }
      }
      // <---- table-body ----->
      .MuiTableBody-root {
        td:first-child {
          padding: 9px 0 9px 15px;
        }
        td:last-child {
          padding: 9px 15px 9px 0;
        }
        // check_group
        .check_group {
          .checkbox-style {
            .checkmark {
              top: -8px;
            }
          }
          .MuiCheckbox-colorSecondary.Mui-checked {
            color: #faad75 !important;
          }
        }
        // content-box
        .content-box {
          font-size: 13px;
          color: $gray51596c;
          .icon-block {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: $grayb51596C;
            .icon {
              display: flex;
              align-items: center;
              margin: 0 15px 0 0;
              &:before {
                margin: 0 5px 0 0;
              }
            }
          }
        }
        // course
        .course {
          .course-detail {
            color: $blue1f2430;
            font-size: 14px;
            font-weight: $medium;
            margin: 0;
            @include laptop1024_1279 {
              font-size: 13px;
            }
          }
        }
      }
      .no-course-table-row {
        height: 53px;
        .no-course {
          position: absolute;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}