@mixin list {
  font-size: small;
  padding: 4px;
}

@mixin unordered-list {
  padding: 0px;
  padding-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@mixin heading-para {
  p {
    margin: 0px;
    color: gray;
    font-size: smaller;
    padding: 1px;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #facdb7;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #facdb7;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ffddcf;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ffd3c4;
}

.release-notes-container {
  display: flex;
  height: 60dvh;
  width: 65dvw;
  background: white;
  overflow: hidden;
  position: relative;
  .container-left {
    background-color: white;
    flex: 0.3;
    .left-polygon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #facdb7;
      clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
      .polygon-content {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 10px;
        .polygon-header {
          margin: 0px;
          span {
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            color: black;
          }
        }
        .polygon-body {
          display: flex;
          flex-direction: column;
          p {
            font-size: smaller;
            color: black;
            margin: 0px;
            font-weight: 500;
          }
          ul {
            margin: 0px;
            font-weight: normal;
            @include unordered-list;
            li {
              @include list;
              color: black;
              font-size: 12px;
            }
            li:hover {
              text-decoration: underline;
              font-size: 13px;
            }
            li::marker {
              content: "+";
              color: #f06421;
              font-weight: bold;
            }
            li::before {
              content: none;
            }
          }
        }
      }
    }
  }
  .container-right {
    flex: 0.7;
    height: 100%;
    overflow-x: hidden;
    .btn-div {
      margin: 0px;
      padding: 4px;
      display: inline-block;
      outline: none;
      position: fixed;
      right: 20px;
      top: 8px;
      background: white;
      .release-notes-btn {
        background: white;
        border-radius: 8px;
        padding: 4px;
        color: gray;
        border: 1px solid #facdb7;
      }
    }
    .right-polygon {
      height: 100%;
      .polygon-top-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .polygon-heading {
          display: flex;
          margin: 0px;
          gap: 30px;
          align-items: center;
          flex-wrap: wrap;
          h2 {
            margin: 0px;
            font-size: 1.5rem;
          }
          span {
            border-radius: 8px;
            background-color: #facdb7;
            color: black;
            padding: 2px 5px;
            font-size: 10px;
            font-weight: 500;
            margin: 0px;
            width: 40px;
            text-align: center;
            height: 20px;
          }
        }
        .polygon-date {
          margin: 0px;
          color: gray;
          p {
            margin: 0px;
          }
        }
        .view-release-notes-button {
          text-decoration: underline;
        }
        .view-release-notes-button:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .polygon-top-right {
        padding: 10px;
        overflow: scroll;
        p {
          margin: 0px;
          color: gray;
          font-size: smaller;
          padding: 1px;
          margin-bottom: 10px;
        }
        div {
          h2 {
            margin: 0px;
            font-weight: bolder;
            font-size: 1rem;
            margin-bottom: 5px;
          }
          span {
            font-size: small;
          }
          ul {
            padding: 0px;
            padding-left: 5px;
            margin-top: 8px;
            margin-bottom: 8px;
            li {
              font-size: small;
              padding: 4px;
            }
            li::marker {
              content: "+";
              color: #f06421;
              font-weight: bold;
            }
            li::before {
              content: none;
            }
          }
        }
      }
    }
  }
}