@import "../../config/variables.scss";

.request-demo-page {
  background: #f5f7fa;
  .request-content {
    height: 100vh;
    min-height: 740px;
    .request-group {
      display: flex;
      align-items: center;
      margin: 0;
      height: 100%;
      .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        background: url("../../assets/images/left-bg.jpg") no-repeat center;
        background-size: cover;
        @include xsm {
          display: none;
        }
        @include sm {
          display: none;
        }
      }
      .right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        @include xsm {
          width: 100%;
        }
        @include sm {
          width: 100%;
        }
      }
    }
  }
}
