@import "../../config/variables.scss";

.sandboxes-sec {
	padding: 40px 0 0 0;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.caption-block {
		max-width: 500px;
		width: 100%;
		margin: 0;
		p {
			font-size: 34px;
			line-height: 51px;
			font-weight: 400;
			color: #000;
			margin: 0;
		}
		h2 {
			font-size: 48px;
			line-height: 78px;
			font-weight: 600;
			color: #000;
			margin: 0;
		}
	}
	.sandboxes-right {
		max-width: 688px;
		width: 100%;
		margin: 0 0 0 20px;
	}
}
