@import "../../config/variables.scss";

.logo.txt {
  max-width: 555px;
  width: 100%;
  margin-bottom: 40px;
  @include md {
    margin-bottom: 15px;
  }
  @include screen1024_1240 {
    margin-bottom: 20px;
  }
  .logo-white {
    max-width: 300px;
    width: 100%;
    display: inline-flex;
    @include md {
      max-width: 250px;
    }
    @include screen1024_1240 {
      max-width: 270px;
    }
    .logo-visa{
      height: auto;
      margin-left: -15px;
      min-width: 500px;
    }
    .logo-mastercard{
      height: auto;
      margin-left: -40px;
      min-width: 500px;
    }
  }
}
.caption-group.txt {
  .title {
    max-width: 535px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    color: $white;
    margin: 0 auto 35px 0;
    @include md {
      font-size: 22px;
      margin: 0 auto 20px 0;
    }
    @include screen1024_1240 {
      font-size: 29px;
      margin: 0 auto 25px 0;
    }
  }
  ul {
    max-width: 555px;
    width: 100%;
    margin: 0;
    label {
      font-size: 16px;
      font-weight: 500;
      color: $white;
      display: block;
      margin-bottom: 20px;
    }
    li {
      font-size: 14px;
      color: $white;
      padding: 0 0 0 35px;
      margin: 0 0 20px 0;
      @include md {
        padding: 0 0 0 32px;
        margin: 0 0 15px 0;
      }
      &:before {
        display: none;
      }
      &:after {
        content: "";
        width: 26px;
        height: 26px;
        background: url("../../assets/images/right-green-img.svg") no-repeat
          center;
        background-size: cover;
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        @include md {
          width: 20px;
          height: 20px;
          top: 4px;
        }
        @include screen1024_1240 {
          width: 22px;
          height: 22px;
          top: 2px;
        }
      }
    }
  }
}
