.ticket-modal-block {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
  }
  p,
  table {
    margin-bottom: 0px;
  }
  .box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 4px;
    overflow-y: scroll;
  }
  .support-modal-description {
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 0.5px 0.5px rgba($color: #000000, $alpha: 0.2);
    border-radius: 8px;
    user-select: none;
    ul {
      margin: 0px 12px 5px;
      li::before {
        left: -10px;
      }
    }
    ol {
      margin: 0px 15px 5px;
      li::before {
        left: -10px;
      }
    }
  }
  .title-input {
    color: gray;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .select-block {
    .input-box {
      select {
        margin-bottom: 10px;
        font-size: 12px;
        background-color: #f5f7fa;
      }
    }
  }
  .textarea-block {
    margin-top: 10px;
    .input-box {
      textarea {
        color: gray;
        font-size: 12px;
        background-color: #f5f7fa;
        height: 40px;
      }
    }
  }
  .view-attachment {
    width: 500px;
    margin: 0px;
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    button {
      border-radius: 6px;
    }
  }
  .show-img {
    height: 250px;
  }
}