.custom-sandbox-tab-main-div {
  width: 100%;

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Mui-selected {
      border-radius: 10px;
      background-color: #ffffff !important;
      color: #f16521 !important;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px !important;
      border-bottom: none !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .MuiTabs-indicator {
      background-color: #fff0e2;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      min-width: 200px;
      background-color: #fff0e2;
      border-radius: 5px;
      margin-right: 2px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px inset;

      img {
        margin: 0;
        margin-right: 12px;
      }
    }
  }
}