@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
.research-report {
  // for-accoding
  .MuiPaper-root {
    background: transparent;
  }
  .MuiAccordionSummary-root {
    padding: 0;
    min-height: 0;
  }
  .MuiAccordionSummary-content {
    margin: 0;
  }
  .MuiAccordionDetails-root {
    padding: 0;
    display: inherit;
  }
  // course-heading-block
  .course-heading-block {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
    .excel-download{
      margin-right: 10px;
      .btn-report {
        height: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        margin: 0;
        background: $blue;
        border-radius: 4px;
        transition: 0.2s ease-in-out;
        background-color: #555d66db !important;
        @include laptop1024_1279 {
          height: 30px;
          line-height: 30px;
        }
        &:hover {
          background: $bluehover;
        }
        .csv-link{
          display: flex;
          align-items: center;
          svg{
            font-size: 1.2rem;
            color: white;
          }
          span {
            font-size: 13.5px;
            font-weight: $semibold;
            color: $white;
            margin: 0 0 0 5px;
            @include laptop1024_1279 {
              font-size: 12px;
            }
          }
        }
      }
    }
    .btn {
      height: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      margin: 0;
      transition: $transDefault;
      border-radius: 4px;
      @include laptop1024_1279 {
        height: 30px;
        line-height: 30px;
      }
      .icon {
        color: $white;
        font-size: 13px;
      }
      span {
        font-size: 13px;
        font-weight: $semibold;
        color: $white;
        margin: 0;
        @include laptop1024_1279 {
          font-size: 12px;
        }
      }
    }
    .btn-filter {
      background: #555d66db;
      &:hover {
        background: $gray2e2e2e;
      }
    }
  }
  .filter-block {
    box-shadow: 1px 1px 2px $white000d;
    background: $white;
    border-radius: 8px;
    padding: 9px 15px;
    margin: 0 0 10px 0;
    .input-box-group {
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .custom-input-box input{
      border-radius: 6px !important;
      border: 1px solid #dddddd !important;
      height: 35px !important;
      background: white !important;
      color: #51596c !important;
      width: 100%;
    }
    .date-box{
      max-width: 352px !important;
      margin: 0 32px 0 0 !important;
    }
    .box-1 ,.date-box{
      max-width: 358px;
      width: 100%;
      margin: 0 25px 0 0;
      box-shadow: none !important;
      .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        label {
          font-size: 13px;
          font-weight: $medium;
          color: $blue1f2430;
          margin: 0;
        }
        span {
          font-size: 12px;
          color: $blue;
          margin: 0;
        }
      }
      .select-box {
        position: relative;
        select {
          position: relative;
          font-family: "Poppins", sans-serif;
          height: 35px;
          font-size: 13px;
          border: 1px solid $grayddd;
          background: none;
          border-radius: 6px;
          color: $gray51596c !important;
        }
        .icon-dropdown {
          position: absolute;
          right: 10px;
          top: 50%;
          font-size: 10px;
          color: #62646a;
          transform: translate(0, -50%);
        }
      }
    }
    .custom-select-box {
      input:focus {
        border-color: none;
        box-shadow: none;
      }
      input[type=text] {
        height: 20px !important
      };

      .css-qbdosj-Input {
        padding: 0px !important;
        margin: 0px !important;
      }

      .css-1fdsijx-ValueContainer {
        padding: 0 8px !important;
      }
      .css-1xc3v61-indicatorContainer {
        padding: 0 8px !important;
      }

      // select,
      .css-13cymwt-control,
      .css-t3ipsp-control {
        position: relative;
        font-family: "Poppins", sans-serif;
        height: auto;
        min-height: 35px !important;
        font-size: 13px;
        border: 1px solid $grayddd;
        border-radius: 6px;
        color: $gray51596c !important;
      }

      .icon-dropdown {
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 10px;
        color: #62646a;
        transform: translate(0, -50%);
      }

      // .react-select {
      .css-t3ipsp-control {
        box-shadow: none !important;

        &:hover {
          border-color: $grayddd !important;
        }

        // }
        // CSS for React Select Dropdown icon
        .css-1xc3v61-indicatorContainer,
        .css-15lsz6c-indicatorContainer {
          color: #62646a !important;
          padding: 8px 8px 15px 8px;
        }
      }

      // CSS for React Select Dropdown Icon
      .css-1xc3v61-indicatorContainer {
        color: #62646a !important;
        padding: 8px 8px 15px 8px;
      }

      // CSS to remove a line seperator from Input field  of react-select
      .css-1u9des2-indicatorSeparator {
        display: none !important;
      }

      // CSS for text of React Select Input value
      .css-1dimb5e-singleValue {
        margin-bottom: 6px !important;
        color: #51596c !important;
      }

      // CSS for react-select placeholder value
      .css-166bipr-Input {
        margin-top: -6px;
        color: #51596c !important;
      }
    }
    .btn-group{
      margin-top: 8px;
      display: flex;
      margin-left: 0;
      .btnMain{
        margin-right: 15px;
        background: #555d66db !important;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.btn-report {
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  background: $blue;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  background-color: #555d66db !important;
  @include laptop1024_1279 {
    height: 30px;
    line-height: 30px;
  }
  &:hover {
    background: $bluehover;
  }
  .icon-pluse {
    color: $white;
    font-size: 10px;
    margin: 0 5px 0 0;
  }
  span {
    font-size: 13px;
    font-weight: $semibold;
    color: $white;
    margin: 0;
    @include laptop1024_1279 {
      font-size: 12px;
    }
  }
}
.custom-input-box input{
  border-radius: 6px !important;
  border: 1px solid #dddddd !important;
  height: 35px !important;
  background: white !important;
  color: #51596c !important;
  width: 100%;
}
.mt-5 {
  margin-top: 8px;
}

.btnMain{
  margin-right: 15px;
  background: #555d66db !important;
}
.custom-sandbox-table {
  margin: 0;
  width: 100%;
  .btn {
    background-color: #f06421;
    border-radius: 5px;
    }
  .btn-disabled{
    cursor:not-allowed;
    background-color: gray;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
  }

  .course-name{
    width: 15% !important;
  }
  .table-heading{
    font-weight: 500 !important;
    color: white !important;
  }
  .MuiTableCell-root {
    font-family: "Poppins", sans-serif;
    color: $grayA2A2A2;
    font-size: 13px;
    font-weight: $regular;
    border: none;
    padding: 10px 0;
    padding: 10px 20px;
    .course-name{
      color: #1f2430;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
  .MuiTableRow-root {
    border-bottom: 1px solid $whitef5f7fa;
  }
  // <---- table-head ---->
  .MuiTableHead-root {
    border-bottom: 1px solid $whitef5f7fa;
    background: #555d66db;
    th:first-child {
      text-align: center;
    }
    th:nth-child(4){
      padding: 9px 15px 9px 40px;
    }
    th:nth-child(3){
      padding: 9px 15px 9px 15px;
    }
    th:nth-child(8){
      min-width: 145px !important;
    }
    th:nth-child(7){
      min-width: 160px !important;
    }
    .date {
      span {
        position: relative;
        padding: 0 17px 0 0;
        &:after {
          content: "\46";
          font-family: "whiz-business" !important;
          position: absolute;
          right: 0;
          color: $gray51596c;
          font-size: 12px;
        }
      }
    }
  }
  // <---- table-body ----->
  .MuiTableBody-root {
    td:last-child {
      padding: 9px 15px 9px 0;
      text-align: center;
    }
    td:nth-child(4){
      padding: 9px 15px 9px 44px;
      white-space: nowrap
    }
    td:nth-child(5){
      white-space: nowrap
    }
    td:nth-child(6){
      white-space: nowrap
    }
    td:nth-child(7){
      white-space: nowrap
    }
    .course-name{
      color: $blue1f2430;
      font-size: 14px;
      font-weight: $medium;
      margin: 0;
      @include laptop1024_1279 {
        font-size: 13px;
      }
    }
    .date {
      font-size: 13px !important;
      color: $grayb51596C !important;
    }
    // sku
    .sku {
      font-size: 13px;
      color: $grayb51596C;
      @include laptop1024_1279 {
      }
      @include lg {
      }
    }
    // content-box
    .content-box {
      font-size: 13px;
      color: $gray51596c;
      @include laptop1024_1279 {
      }
      @include lg {
      }
      .icon-block {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $grayb51596C;
        .icon {
          display: flex;
          align-items: center;
          margin: 0 15px 0 0;
          &:before {
            margin: 0 5px 0 0;
          }
        }
      }
    }
    
  }
  .mw-250 {
    min-width: 250px;
  }
  .mw-125 {
    min-width: 125px
  }
  .mw-135 {
    min-width: 135px;
  }
}
.custom-sandbox-div{
  height: 50vh;
  display: flex;
  align-items: center;
}