@import "../../config/variables.scss";

.transfer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  .list-box.left {
    .title {
      opacity: 0;
    }
  }
  .list-box {
    max-width: 415px;
    width: 100%;
    margin: 0;
    .title {
      font-size: 13px;
      color: $gray51596c;
      font-weight: 500;
      margin-bottom: 3px;
      span {
        color: $redLight;
      }
    }
    .inner-box {
      border-radius: 6px;
      border: 1px solid $grayddd;
      .search-bar {
        position: relative;
        margin: 6px 10px 10px;
        &:before { 
          content: "\63";
          font-family: "whiz-business";
          position: absolute;
          top: 50%;
          left: 11px;
          transform: translateY(-50%);
          display: block;
          color: $blue;
          font-size: 13px;
        }
        input {
          height: 30px;
          font-size: 11px;
          padding: 10px 15px 10px 30px;
          background: $whitef5f7fa;
          border-radius: 6px;
          border: none;
          color: $black;
          &::placeholder {
            font-size: 12px !important;
            color: $grayA2A2A2;
          }
        }
      }
      .MuiTypography-root {
        font-family: "Poppins", sans-serif;
      }
      .MuiCardHeader-root {
        border-radius: 6px 6px 0 0;
        background: $whitef5f7fa;
        border-bottom: 1px solid $grayDFE6EF;
        padding: 8px 10px;
        .MuiCardHeader-avatar {
          display: none;
        }
        .MuiCardHeader-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .MuiCardHeader-title {
            font-size: 13px;
            color: $gray51596c;
            font-weight: $medium;
          }
          .MuiCardHeader-subheader {
            font-size: 12px;
            color: $gray51596c;
            font-weight: $regular;
          }
        }
      }
      .MuiList-root {
        width: 100%;
        background-color: transparent;
        padding: 0;
        .MuiButtonBase-root {
          padding: 6px 10px;
          margin-bottom: 6px;
          .MuiListItemIcon-root {
            min-width: auto;
            margin: 0 8px 0 0;
            .MuiCheckbox-root {
              color: #000000;
              padding: 0;
              margin: 0;
            }
            .MuiCheckbox-root.Mui-checked {
              color: $blue;
            }
          }
          .list-item {
            display: flex;
            align-items: center;
            margin: 0;
            .course-img {
              display: inline-flex;
              align-items: center;
              font-size: 13px;
              color: $gray51596c;
              margin: 0;
              figure {
                max-width: 37px;
                margin: 0 5px 0 0;
              }
            }
          }
        }
      }
    }
  }
  .Nxt-Pre-Btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
    .MuiButton-root {
      min-width: auto;
      width: 30px;
      height: 30px;
      background: $blue;
      color: $white;
      border-radius: 50%;
      border: none;
    }
    .MuiButton-root.Mui-disabled {
      background: $grayDFE6EF;
      color: #000;
    }
  }
}
