@import "../../config/variables.scss";

.content {
  width: 100%;
  // query-page
  .query-page {
    position: relative;
    padding: 30px 0 0 0;
    .container-small {
      margin: 0 auto 0 10px;
    }
    // query-heading-block
    .query-heading-block {
      .title {
        font-size: 22px;
        color: $gray202020;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    // details-block
    .details-block {
      padding: 15px 15px 0 15px;
      background: $white;
      box-shadow: 1px 1px 2px $white000d;
      border-radius: 8px;

      .MuiAppBar-colorDefault {
        color: $white;
        background-color: $white;
        box-shadow: none;
      }
      .MuiPaper-root {
        font-family: "Poppins", sans-serif;
      }
      .MuiTabs-root {
        margin: 0;
      }
      .MuiTab-wrapper {
        align-items: start;
      }
      .MuiTab-root {
        font-family: "Poppins", sans-serif;
        min-height: 30px;
        text-transform: capitalize;
        min-width: auto;
        font-size: 15px;
        font-weight: $medium;
        color: $blue1f2430;
        padding: 0;
        margin: 0 30px 0 0;
      }
      .MuiAppBar-root {
        box-shadow: none;
      }
      .MuiPaper-elevation4 {
        box-shadow: none;
        height: 33px;
        border-bottom: 1px solid $grayddd;
      }
      .MuiTab-textColorPrimary.Mui-selected {
        color: $blue;
        padding: 0;
      }
      .MuiTabs-indicator {
        bottom: 15px;
        background-color: $blue;
        height: 3px;
      }
      // tab-content
      .tab-content {
        .MuiBox-root-7 {
          padding: 0 !important;
        }
        .MuiBox-root {
          padding: 0 !important;
        }
        // form-default
        .form-default {
          padding: 15px 0 15px 0;
          margin: 0;
          .input-group {
            font-family: "Poppins", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .input-box {
              width: 49%;
              margin: 0 0 15px 0;
              label {
                font-size: 13px;
                color: $blue1f2430;
                font-weight: $medium;
                margin: 0 0 3px;
                span {
                  color: $redLight;
                }
              }
              input {
                font-family: "Poppins", sans-serif;
                height: 35px;
                font-size: 13px;
                border: 1px solid $grayddd;
                background: none;
                border-radius: 6px;
                &::placeholder {
                  color: $grayb7b7b7;
                  font-size: 13px;
                }
              }
            }
          }
        //   select block
          .select-block {
            font-family: "Poppins", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .input-box {
              width: 49%;
              margin: 0 0 15px 0;
              label {
                font-size: 13px;
                font-weight: $medium;
                color: $blue1f2430;
                margin: 0 0 3px;
                span {
                  color: $redLight;
                }
              }
              input {
                height: 35px;
                font-size: 13px;
                border: 1px solid $grayddd;
                background: none;
                border-radius: 6px;
              }
              .input-style {
                position: relative;
                .icon {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  font-size: 10px;
                  color: $gray62646a;
                  transform: translate(0, -50%);
                }
                select {
                  position: relative;
                  height: 35px;
                  font-size: 13px;
                  color: $gray51596c !important;
                  border: 1px solid $grayddd;
                  background: none;
                  border-radius: 6px;
                }
              }
            }
          }
          // textarea-block
          .textarea-block {
            font-family: "Poppins", sans-serif;
            margin-bottom: 15px;
            .input-box {
                width: 100%;
                margin: 0;
                label {
                  font-size: 13px;
                  font-weight: $medium;
                  color: $blue1f2430;
                  margin-bottom: 3px;
                  span {
                    color: $redLight;
                  }
                }
                textarea{
                    height: 100px;
                }
            }
          }
          //  upload-block
          .upload-block{
            font-family: "Poppins", sans-serif;
            margin-bottom: 15px;
            .input-box {   
                margin: 0;
                width: 100%;
                gap: 20px;
                display: flex;
                label {
                    font-size: 13px;
                    font-weight: $medium;
                    color: $blue1f2430;
                    margin: 0;
                  }
             }
            p{
                color: #62646a;
                font-size: 13px;
                margin: 5px 0;
                span{
                    color: red;
                }
            }
          }
          // btn-box
          .btn-box {
            .btn {
              font-size: 13px;
              padding: 6px 44px;
              line-height: 20px;
              text-transform: capitalize;
            }
          }
        }
      }
      .loader-div{
        display: flex;
        align-self: center;
        height: 30vh;
        span{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
