@import "../../config/variables.scss";

.learning-user-block {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  .list-group {
    border: 1px solid $grayddd;
    border-radius: 6px;
    .head-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $whitef5f7fa;
      padding: 10px 10px;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid $grayDFE6EF;
      .title {
        font-size: 13px;
        color: $gray51596c;
        font-weight: $medium;
        margin: 0;
      }
      label {
        font-size: 12px;
        color: $gray51596c;
        margin-bottom: 0;
      }
    }
    .inner-block{
      height: 180px;
      overflow: auto;
    }
    .list-item {
      display: flex;
      align-items: center;
      padding: 6px 10px;
      transition: $transDefault;
      .course-img {
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        color: $gray51596c;
        margin: 0;
        figure {
          max-width: 37px;
          border-radius: 2px;
          overflow: hidden;
          margin: 0 5px 0 0;
        }
        .course-title {
          margin: 0;
        }
      }
      .icon-cross {
        position: relative;
        max-width: 16px;
        width: 100%;
        height: 16px;
        font-size: 8px;
        color: #51596c;
        background: #dfe6ef;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0 0 0 auto;
        &:hover {
          background: $grayb0bed1;
        }
        &::before {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(55%, -50%);
        }
      }
    }
  }
  ul li::before{
    content: none;
  }
  .css-1e9lk82-MuiListItemAvatar-root{
    min-width: 50px !important;
  }
  .css-2s90m6-MuiAvatar-root{
    height: 28px !important;
    width: 28px !important;
  }
  .css-vcbu1s-MuiAvatar-root{
    height: 30px !important;
    width: 30px !important;
    font-size: 18px !important;
  }
  .css-et1ao3-MuiTypography-root ,.MuiTypography-body2{
    font-size: 13px !important;
    font-family: "Poppins", sans-serif !important;
  }
  .css-1jgum25{
    height: 35px !important;
    width: 35px !important;
    font-size:20px !important;
  }
  .css-6lnq02-MuiListItem-root{
    padding: 1px 0 !important;
  }
  .css-178cqt3-MuiButtonBase-root-MuiListItemButton-root{
    padding-left: 0px !important;
  }
  .css-1nss6vj{
    padding:4px 0px !important;
  }
  .css-1dadyr8{
    padding:4px 0px !important
  }
  .css-a5kqs7{
    min-width: 50px !important;
  }
}
