.caseStudyContainer {
  width: 360px;
  height: 480px;
  margin: 0 auto;
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  @media (min-width: 220px) and (max-width: 520px) {
    max-width: 260px;
  }
  .caseStudy-image-container {
    position: relative;
    overflow: hidden;
    .img_full_card {
      display: block;
      height: auto;
      width: 100%;
      padding: 10px;
    }
    .img-top {
      position: relative;
      z-index: 2;
    }
    .img-bottom {
      position: absolute;
      bottom: 0;
      z-index: 1;
      opacity: 0.9;
    }
  }
  .content {
    padding: 15px 20px 5px 20px;
    .arrowTitle {
      display: flex;
      .arrow {
        padding-left: 8px;
        margin-right: 0px;
      }
      .title {
        margin-left: 0px;
        color: #101828;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
      }
    }
    .badge {
      color: #6b21a8;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      padding-top: 10px;
      display: inline-block;
    }
    .description {
      color: #667085;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
