@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
// <---- user-table-heading ---->
.user-heading-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .title {
    font-size: 22px;
    color: $gray202020;
    font-weight: $medium;
    margin: 0 auto 0 0;
    @include laptop1024_1279 {
      font-size: 20px;
    }
  }
  .date-input-box{
    display: flex;
  }
  .user-input-mix{
    display: flex;
    align-items: end;
    .error-message{
      display: flex;
      justify-content: end;
      font-size: 12px;
      color: red;
    }
    .date-box{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .head2{
      margin-left: 10px;
    }
    .head1 label{
      font-weight: 500;
      color: #1f2430;
    }
    .head2 label{
      font-weight: 500;
      color: #1f2430;
    }
    .input-box{
      margin-left: 8px;
      margin-right: 8px;
    }
    .input-box input{
      border-radius: 6px !important;
      border: 1px solid #dddddd !important;
      height: 25px !important;
      background: white !important;
      color: #51596c !important;
      width: 100%;
      padding: 3px;
    }
  }
  .btn-user-search{
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0;
    margin-left: 8px;
    background: $blue;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    background-color:#555d66db !important;
    @include laptop1024_1279 {
      height: 30px;
      line-height: 30px;
    }
    &:hover {
      background: $bluehover;
    }
    .icon-pluse {
      color: $white;
      font-size: 10px;
      margin: 0 5px 0 0;
    }
    span {
      font-size: 13px;
      font-weight: $semibold;
      color: $white;
      margin: 0;
      @include laptop1024_1279 {
        font-size: 12px;
      }
    }
  }
  .search-bar {
    position: relative;
    max-width: 230px;
    width: 100%;
    margin: 0 7px 0 0;
    input {
      height: 32px;
      background: $white;
      color:$black;
      border-radius: 4px;
      font-size: 11px;
      padding: 10px 15px 10px 33px;
      border-radius: 4px;
      @include laptop1024_1279 {
        height: 30px;
      }
      &::placeholder {
        font-size: 13px;
        color: $grayb7b7b7;
      }
    }
    &::before { 
      content: "\63";
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      display: block;
      color: $blue;
      font-size: 14px;
      font-family: "whiz-business";
    }
  }
  .btn {
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0;
    background: $blue;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    @include laptop1024_1279 {
      height: 30px;
      line-height: 30px;
    }
    &:hover {
      background: $bluehover;
    }
    .icon-pluse {
      color: $white;
      font-size: 10px;
      margin: 0 5px 0 0;
    }
    span {
      font-size: 13px;
      font-weight: $semibold;
      color: $white;
      margin: 0;
      @include laptop1024_1279 {
        font-size: 12px;
      }
    }
  }
}
.user-table {
  margin: 0;
  .MuiTableCell-root {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: $regular;
    border: none;
    padding: 10px 0;
  }
  .table-heading{
    color: white !important;
  }
  .MuiTableRow-root {
    border-bottom: 1px solid $whitef5f7fa;
  }
  // <---- table-head ---->
  .MuiTableHead-root {
    border-bottom: 1px solid $whitef5f7fa;
    background: transparent;
    background-color: rgba(85,93,102,.8588235294117647);
    th:first-child {
      padding: 10px 0 10px 15px;
    }
    th:last-child {
      padding: 10px 15px 10px 0;
      text-align: right;
    }
    // members
    .members {
      span {
        position: relative;
        padding: 0 17px 0 0;
        cursor: pointer;
        &::after {
          content: "\46";
          font-family: "whiz-business" !important;
          position: absolute;
          right: 0;
          color: $white;
          font-size: 12px;
        }
      }
    }
    // status
    .status {
      span {
        position: relative;
        padding: 0 17px 0 0;
        cursor: pointer;
        &::after {
          content: "\46";
          font-family: "whiz-business" !important;
          position: absolute;
          right: 0;
          font-size: 12px;
          color: $white;
        }
      }
    }
    // statusA
    .statusA {
      span {
        position: relative;
        padding: 0 17px 0 0;
        cursor: pointer;
        &::after {
          content: "\46";
          font-family: "whiz-business" !important;
          position: absolute;
          right: 0;
          font-size: 12px;
          color: $white;
        }
      }
    }
  }
  // <---- table-body ---->
  .MuiTableBody-root {
    th:first-child {
      padding: 10px 0 10px 15px;
    }
    td:last-child {
      padding: 10px 15px 10px 0;
    }
    // members
    .members {
      font-size: 13px;
      color: $grayb51596C;
    }
    // team
    .team {
      font-size: 13px;
      color: $gray51596c;
      span {
        color: $blue;
      }
    }
    // managers
    .managers {
      .profile {
        display: flex;
        align-items: center;
        line-height: 1.4;
        figure {
          max-width: 30px;
          margin-right: 10px;
          margin: 0 10px 0 0;
        }
        .detail {
          margin: 0;
          .user-name {
            font-size: 13px;
            color: $blue1f2430;
            .title-link{
              cursor: pointer;
              color : #f16621d6 !important;
              &:hover {
                color: #f06421 !important;  
                text-decoration: underline; 
              }
            }
          }
          .user-id {
            font-size: 12px;
            color: $grayA2A2A2NEW;
          }
        }
      }
    }
    // status
    .status {
      font-size: 13px;
      color: $grayb51596C;
    }
    // onboarded
    .onboarded {
      font-size: 12px;
      span {
        color: $green00BE7E;
        background: $whitee5f9f2;
        padding: 3px 7px;
        border-radius: 4px;
        display: -webkit-inline-box;
      }
    }
    // actions
    .actions {
      position: relative;
      display: inline-block;
      text-align: right;
      font-size: 24px;
      margin: 0;
      cursor: pointer;
      transition: $transDefault;
      .icon-action {
        display: flex;
        justify-content: flex-end;
        color: $grayA2A2A2;
        transition: $transDefault;
      }
      &:hover .action-dropdown {
        color: $white846e6e;
        display: block;
      }
    }
    .action-dropdown {
      background: $white;
      position: absolute;
      right: 0;
      top: 24px;
      box-shadow: 2px 2px 10px $white0029;
      color: $gray51596B;
      display: none;
      z-index: 999;
      border-radius: 4px;
      ul {
        margin: 5px 0;
        li {
          padding: 5px 16px;
          .link {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: $gray51596B;
            white-space: nowrap;
            .icon {
              margin: 0 10px 0 0;
            }
            span {
              margin: 0;
            }
          }
          &:hover {
            background: $whiteF4F5F7;
            .link {
              color: $blue1f2430;
            }
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
