@import "../../config/variables.scss";

.timeline-container {
  background: #F5F7FA;
  .vertical-timeline-element--education {
    .timeline-content {
      width: 80%;
      .course {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 18px;
      }
      div {
        margin-top: 4px;
        color: #E05613;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .date {
      border-left: 1px solid #ddd;
      padding-left: 12px;
      width: 20%;
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
  .vertical-timeline-element--work {
    .timeline-profile {
      width: 80%;
      display: flex;
      gap: 16px;
      .first-div {
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
        }
      }
      .second-div {
        width: calc(100% - 58px);
        margin: auto;
      }
    }
    h5 {
      border-left: 1px solid #ddd;
      padding-left: 12px;
      width: 20%;
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
}