@import "../../config/variables.scss";

.modal-timeline-view {
  .modal-timeline-container {
    padding: 20px;
    margin: 0;
    .timeline-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      h6 {
        margin: 0;
        font-weight: 700;
      }
      div {
        margin: 0;
        cursor: pointer;
      }
    }
    .timeline-table {
      box-shadow: 0px 0px 4px #0000000d !important;
      border-bottom: 1px solid #f5f7fa;
      .MuiTable-root {
        margin-bottom: 0;
        .MuiTableRow-root {
          border-bottom: 1px solid #f5f7fa;
          .MuiTableCell-head {
            background-color: #6D747C;
            border: 0;
            color: white;
          }
          .MuiTableCell-root {
            border: 0;
            padding: 10px 16px;
            text-align: center;
          }
        }
      }
    }
  }
}