@import "../../config/variables.scss";

.content {
  width: 100%;
  // setting-page
  .setting-page {
    position: relative;
    padding: 30px 0 0 0;
    .container-small {
      margin: 0 auto 0 10px;
    }
    // setting-heading-block
    .setting-heading-block {
      .title {
        font-size: 22px;
        color: $gray202020;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    // details-block
    .details-block {
      padding: 15px 15px 0 15px;
      background: $white;
      box-shadow: 1px 1px 2px $white000d;
      border-radius: 8px;

      .MuiAppBar-colorDefault {
        color: $white;
        background-color: $white;
        box-shadow: none;
      }
      .MuiPaper-root {
        font-family: "Poppins", sans-serif;
      }
      .MuiTabs-root {
        margin: 0;
      }
      .MuiTab-wrapper {
        align-items: start;
      }
      .MuiTab-root {
        font-family: "Poppins", sans-serif;
        min-height: 30px;
        text-transform: capitalize;
        min-width: auto;
        font-size: 15px;
        font-weight: $medium;
        color: $blue1f2430;
        padding: 0;
        margin: 0 30px 0 0;
      }
      .MuiAppBar-root {
        box-shadow: none;
      }
      .MuiPaper-elevation4 {
        box-shadow: none;
        height: 33px;
        border-bottom: 1px solid $grayddd;
      }
      .MuiTab-textColorPrimary.Mui-selected {
        color: $blue;
        padding: 0;
      }
      .MuiTabs-indicator {
        bottom: 15px;
        background-color: $blue;
        height: 3px;
      }
      // tab-content
      .tab-content {
        .MuiBox-root-7 {
          padding: 0 !important;
        }
        .MuiBox-root {
          padding: 0 !important;
        }
        // form-default
        .form-default {
          padding: 20px 0 15px 0;
          margin: 0;
          // profile-block
          .profile-block {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .img-upload {
              width: 85px;
              height: 85px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              overflow: hidden;
              margin: 0 13px 0 0;
            }
            .btn-group {
              display: flex;
              margin: 0;
              flex-direction: column;
              &:first-child {
                margin-left: 0;
              }
              .btn-input {
                display: flex;
                font-size: 12px;
                color: $blue1f2430;
                background: $graybf3f3f4;
                border-radius: 8px;
                margin: 0 1.5px;
                padding: 5px 17px;
                font-weight: $regular;
                &:first-child {
                  margin-left: 0;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
              .btn-upload {
                display: block;
                color: $blue;
                background: $whitef5f7fa;
                cursor: pointer;
              }
              .btn-rem {
                margin-top: 5px;
                color: $rede5424f;
              }
            }
          }
          // company-info-block
          .company-info-block {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .img-upload {
              width: 180px;
              height: 70px;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              margin: 0 1px 0 0;
              padding: 5px 7px 7px 8px;
              border-radius: 6px 0 0 6px;
              .img-figure {
                max-width: 135px;
                width: 100%;
                max-height: 65px;
                height: 100%;
                .logo-img-full{
                  display: block;
                  width: 100%;
                  height: auto;
                  margin-top: -5px;
                }
              }
              .logo-figure{
                max-width: 60px;
                width: 100%;
                max-height: 60px;
                height: 100%;
              }
            }
            .set-bg {
              background: #f5f7fa;
            }
            label {
              font-size: 12px;
              color: $gray51596c;
              font-style: italic;
              margin: 0;
            }
            .btn-group {
              height: 70px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin: 0;
              border-radius: 0 6px 6px 0;
              overflow: hidden;
              .btn-input {
                font-size: 10px;
                color: $blue;
                font-weight: $regular;
                border-radius: 0;
                background: $whitef5f7fa;
                padding: 8px 10px 7px 10px;
                min-height: 35px;
                &:first-child {
                  margin-bottom: 1px !important;
                }
              }
              .btn-upload {
                display: none;
              }
              .btn-remove {
                color: $rede5424f;
              }
            }
          }
          .input-group {
            font-family: "Poppins", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .input-box {
              width: 49%;
              margin: 0 0 15px 0;
              label {
                font-size: 13px;
                color: $blue1f2430;
                font-weight: $medium;
                margin: 0 0 3px;
                span {
                  color: $redLight;
                }
              }
              input {
                font-family: "Poppins", sans-serif;
                height: 35px;
                font-size: 13px;
                border: 1px solid $grayddd;
                background: none;
                border-radius: 6px;
                &::placeholder {
                  color: $grayb7b7b7;
                  font-size: 13px;
                }
              }
            }
            // pickers-group
            .pickers-group {
              display: flex;
              justify-content: space-between;
              margin-bottom: 15px;
              .MuiInputLabel-animated {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                color: $blue1f2430;
                font-weight: 500;
              }
              .MuiInput-root {
                font-family: "Poppins", sans-serif;
                margin: 20px 0 0 0;
              }
              .MuiFormControl-root {
                width: 100%;
              }
              .MuiInputBase-input {
                color: $grayb7b7b7;
                font-size: 13px;
                padding: 0 10px;
                border-radius: 6px;
              }
              .MuiInput-underline:before {
                border-bottom: none;
              }
              .MuiInput-underline:after {
                border-bottom: none;
              }
              .pickers {
                width: 100%;
                margin: 0;
              }
            }
          }
          // redio-block
          .redio-block {
            font-family: "Poppins", sans-serif;
            margin-bottom: 15px;
            span {
              font-size: 13px;
              font-weight: $medium;
              color: $blue1f2430;
              margin-bottom: 3px;
              display: inline-block;
            }
            .group {
              display: flex;
              .box {
                display: flex;
                align-items: center;
                padding: 8px 16px;
                border: 1px solid $grayddd;
                margin: 0;
                border-radius: 0px 0 0 0px;
                &:last-child {
                  border-radius: 0 6px 6px 0;
                  border-left: none;
                }
                &:first-child {
                  border-radius: 6px 0px 0px 6px;
                }
                input {
                  margin: 0;
                }
                label {
                  font-size: 13px;
                  color: $gray62646a;
                  margin: 0 0 0 8px;
                  font-family: "Poppins", sans-serif;
                }
              }
            }
          }
          // address-block
          .address-block {
            font-family: "Poppins", sans-serif;
            margin-bottom: 15px;
            label {
              font-size: 13px;
              font-weight: $medium;
              color: $blue1f2430;
              margin-bottom: 3px;
            }
            .input-group {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              .input-box {
                width: 49%;
                margin: 0;
                input {
                  height: 35px;
                  font-size: 13px;
                  border: 1px solid $grayddd;
                  background: none;
                  border-radius: 6px;
                }
              }
            }
          }
          // select-block
          .select-block {
            font-family: "Poppins", sans-serif;
            display: flex;
            margin-bottom: 15px;
            .input-box {
              width: 24%;
              label {
                font-size: 13px;
                font-weight: $medium;
                color: $blue1f2430;
                margin-bottom: 3px;
              }
              input {
                height: 35px;
                font-size: 13px;
                border: 1px solid $grayddd;
                background: none;
                border-radius: 6px;
              }
              .input-style {
                position: relative;
                .icon {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  font-size: 10px;
                  color: $gray62646a;
                  transform: translate(0, -50%);
                }
                select {
                  position: relative;
                  height: 35px;
                  font-size: 13px;
                  color: $gray51596c !important;
                  border: 1px solid $grayddd;
                  background: none;
                  border-radius: 6px;
                }
              }
            }
          }
          // btn-box
          .btn-box {
            .btn {
              font-size: 13px;
              padding: 6px 44px;
              line-height: 20px;
              text-transform: capitalize;
            }
          }
        }
        // passwrd-update
        .passwrd-update {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 0 10px 0;
          &::before {
            content: "";
            height: 7px;
            background: $whitef5f7fa;
            width: 100%;
            position: absolute;
            top: 0;
            left: -15px;
            padding: 0 15px;
          }
          .text-block {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $gray51596c;
            margin: 0;
            .icon-key {
              font-size: 20px;
              margin: 0 10px 0 0;
            }
          }
          .btn-box {
            margin: 0;
            .btn-update {
              font-size: 14px;
              font-weight: $medium;
              color: $orange;
              background: $pinkfff3ea;
              padding: 7px 15px;
              transition: $transDefault;
              &:hover {
                background: $hoverefdfd4;
              }
            }
          }
        }
        // form-passwrd
        .form-passwrd {
          padding: 20px 0 15px 0;
          margin: 0;
          .input-group {
            font-family: "Poppins", sans-serif;
            .input-box {
              max-width: 330px;
              width: 100%;
              margin: 0 0 15px 0;
              label {
                font-size: 13px;
                color: $blue1f2430;
                font-weight: $medium;
                margin: 0 0 3px;
                span {
                  color: $redLight;
                }
              }
              input {
                font-family: "Poppins", sans-serif;
                height: 35px;
                font-size: 13px;
                border: 1px solid $grayddd;
                background: none;
                border-radius: 6px;
                &::placeholder {
                  color: $grayb7b7b7;
                  font-size: 13px;
                }
              }
            }
          }
          // btn-box
          .btn-box {
            .btn {
              font-size: 13px;
              padding: 6px 44px;
              line-height: 20px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .loader-div{
      display: flex;
      align-self: center;
      height: 30vh;
      span{
        display: flex;
        align-items: center;
      }
    }
  }
}
