@import "../../config/variables.scss";

.explore-category {
	margin-bottom: 30px;
	.container {
		max-width: 1230px;
	}
	.block-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		h2 {
			color: #1F2430;
			font-size: 30px;
			font-weight: 600;
			margin: 0;
		}
		a {
			display: flex;
			align-items: center;
			color: #1F2430;
			font-size: 18px;
			font-weight: 500;
			text-decoration: none;
			margin: 0;
			&:hover {
				color: #007CFF;
			}
			i {
				font-size: 15px;
				margin-left: 10px;
			}
		}
	}
	.block-group {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		margin: 0;
		.block {
      		display: flex;
      		flex-direction: column;
			text-align: center;
			border-top: 1px solid #A2A2A2;
			border-left: 1px solid #A2A2A2;
			padding: 33px 15px;
			margin: 0;
			&:nth-last-child(-n+3) {
				border-bottom: 1px solid #A2A2A2;
			}
			&:nth-child(3) {
				border-right: 1px solid #A2A2A2;
			}
			&:last-child {
				border-right: 1px solid #A2A2A2;
			}
			figure {
				max-width: 40px;
				width: 100%;
				margin: 0 auto 15px auto;
			}
			span {
				display: block;
				font-size: 20px;
				line-height: 30px;
				font-weight: 600;
				color: #121212;
				margin-bottom: 15px;
			}
			.category-list {
				margin: 0;
				li {
					font-size: 14px;
					line-height: 24px;
					font-weight: 400;
					color: #51596C;
					padding: 0;
					margin: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
