.box {
  width: 500px;
  margin: 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  .select-box {
    flex: 1;
    width: auto;
  }

}
.workspace-container {
  padding-top: 30px;
  .workspace-top {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
}
.select-user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px;
  margin-bottom: 20px;
  .btn {
    border-radius: 5px;
  }
}
.refresh-btn {
  .icon-refresh {
    color: #ffff;
  }
  .refresh-btn-txt {
    margin-left: 5px;
    color: #ffff;
    font-size: 13px;
    font-family: poppins;
  }
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #f06421;
}
// credentials modal
.input-div {
  display: flex;
  align-items: center;
  gap: 5px;
  .input-field {
    color: gray;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  span {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .copy-btn {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
  }
}