@import "../../config/variables.scss";

.info-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .new-chip{
    margin-left: 105px;

  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    max-width: calc(100% / 2 - 10px);
    width: 100%;
    text-decoration: none;
    padding: 23px 20px;
    margin: 0px 10px 0px 0px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px $white000d;
    @include laptop1024_1279 {
      padding: 18px 20px;
    }
    .caption {
      margin: 0;
      display: flex;
      strong {
        color: $blue1f2430;
        font-size: 26px;
        font-weight: $medium;
        transition: $transDefault;
        @include laptop1024_1279 {
          font-size: 24px;
        }
      }
      img {
        max-width: 50px;
        margin:5px 10px 5px 10px}
      span {
        display: block;
        color: $gray62646a;
        font-size: 16px;
        line-height: 1;
        transition: $transDefault;
        @include laptop1024_1279 {
          font-size: 14px;
        }
      }
    }
    &:last-child {
      margin: 0;
      svg {
        background: $whitefff3f5;
      }
    }
  }
}
