@import "../../config/variables.scss";
@import "../../config/mixin.scss";

.MuiPaper-elevation1 {
  box-shadow: inherit !important;
}
.user-behaviour-lab-block {
  .pie_bar_chart_section {
    background: white !important;
    padding: 10px;
    margin: 20px 0;
    p {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }
    .pie_bar_chart {
      display: flex;
      .reactgooglegraph-1 {
        padding: 10px;
      }
    }
  }
  .custom-input-box {
    input {
      border-radius: 6px !important;
      border: 1px solid #dddddd !important;
      height: 35px !important;
      background: white !important;
      color: #51596c !important;
      width: 100%;
    }
  }
  .mt-5 {
    margin-top: 8px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .btnMain {
    background: #555d66db !important;
  }
  .practice-report-table {
    margin: 0;
    width: 100%;
    .course-name {
      width: 15% !important;
    }
    .table-heading {
      font-weight: 500 !important;
      color: white !important;
    }
    .MuiTableCell-root {
      font-family: "Poppins", sans-serif;
      color: $grayA2A2A2;
      font-size: 13px;
      font-weight: $regular;
      border: none;
      padding: 10px 0;
    }
    .MuiTableRow-root {
      border: 1px solid $whitef5f7fa;
    }
    // <---- table-head ---->
    .MuiTableHead-root {
      border-bottom: 1px solid $whitef5f7fa;
      background: #555d66db;
      th:first-child {
        padding: 9px 15px;
      }
      tr {
        th {
          font-weight: 500;
        }
      }
    }
    // <---- table-body ----->
    .MuiTableBody-root {
      td:first-child {
        padding: 9px 15px;
      }
      td:last-child {
        padding: 9px 15px 9px 0;
        text-align: center;
      }
      // content-box
      .content-box {
        font-size: 13px;
        color: $gray51596c;
        .icon-block {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: $grayb51596C;
          .icon {
            display: flex;
            align-items: center;
            margin: 0 15px 0 0;
            &:before {
              margin: 0 5px 0 0;
            }
          }
        }
      }
      .tab-no-data {
        text-align: center;
      }
    }
    .react-loader {
      display: flex;
      align-self: center;
    }
    .text-aligin-left {
      text-align: left !important;
    }
    .threat-table-cell {
      color: white;
    }
  }
}

.input-box-group {
  margin-bottom: 10px;
  gap: 10px;
}
