@import "../../config/variables.scss";

.modal-lab {
  .MuiBackdrop-root {
    background-color: rgba(31, 36, 48, 0.7) !important;
  }
  .MuiPaper-rounded {
    max-width: 460px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #1f24300d;
  }
  .modal {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 25px 25px;
    .modal-title {
      text-align: center;
      margin-bottom: 20px;
      .MuiIconButton-root {
        top: 20px;
        right: 20px;
      }
      .Component-root-1 {
        padding: 0;
      }
      .Component-root-4 {
        padding: 0;
      }
      .MuiTypography-h6 {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: $medium;
        line-height: 1.3;
        color: $gray2e2e2e;
      }
      .MuiDialogTitle-root {
        padding: 0;
      }
    }
    .modal-text {
      max-width: 390px;
      width: 100%;
      text-align: center;
      margin: 0 auto 20px auto;
      line-height: 1.8;
      span {
        font-weight: $medium;
        color: $blue1f2430;
      }
      .MuiTypography-body1 {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        color: $gray51596c;
        overflow: hidden;
      }
      label {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 800 ;
        line-height: 1.7;
        color: $gray51596c;
        margin-top: 10px;
        text-align: start;
        margin-left: 15px;
      }
      input {
        color: rgba(0, 0, 0, 0.685);
      }
    }
    .MuiSvgIcon-root {
      font-size: 1.1rem;
    }
    .MuiIconButton-root {
      padding: 4px;
      background: $graybf3f3f4;
      transition: $transDefault;
      &:hover {
        background: $grayb9e9e;
        color: $white;
      }
    }
    .Component-closeButton-2 {
      top: 20px;
      right: 20px;
    }
  }
  .react-loader {
    display: flex;
    align-self: center;
  }
}
.input-box-group {
  display: flex;
  align-items: center;
  .MuiSvgIcon-root {
    cursor: pointer;
    margin-left: 5px;
  }
}