.inner-accordion-inner {
  margin: 0px;
  width: 100%;
  .MuiAccordion-root {
    background-color: #DFE6EF;
    .itm-head {
      display: flex;
      justify-content: space-around;
      background: #DFE6EF;
      flex-direction: row-reverse !important;
      font-weight: 500;
      margin: 0px 50px;
      .right {
        margin: 0px;
        font-weight: 400;
      }
      .left {
        font-weight: 400;
      }
    }
    .MuiAccordionSummary-content {
      margin: 12px 0;
      display: flex !important;
      flex-grow: 1;
      transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      .left {
        margin: 0px 5px;
      }
      .right {
        margin-left: auto !important;
        .labs-count {
          margin-right: 7px;
        }
      }
    }
    .MuiAccordionDetails-root {
      background-color: #EBEEF3;
    }
    .MuiAccordionSummary-root.Mui-expanded {
      min-height: 48px;
    }
    .item-content {
      border-radius: 5px;
      margin: 5px 0px 5px 0px;
      display: block !important;
      padding: unset !important;
      ul {
        margin: 0px;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          padding: 10px 15px;
          line-height: 1.2;
          border-bottom: 1px solid #F5F7FA;
          .title {
            display: flex;
            align-items: flex-start;
            margin: 0 100px;
            span {
              color: #1F2430;
              font-size: 13px;
              margin: 0 10px;
            }
          }
          .right {
            display: flex;
            align-items: center;
            margin: 0 100px;
            .total-que {
              color: #1F2430;
              width: 95px;
              font-size: 13px;
              text-align: right;
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
  }
}
ul li:before {
  content: none;
}