@import "../../config/variables.scss";
@import "../../config/mixin.scss";

@mixin unordered-list {
    ul {
        padding: 0px;
        padding-left: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        li {
            font-size: small;
            padding: 4px;
            &::marker {
                content: "+";
                color: #f06421;
                font-weight: bold;
            }
            &::before {
                content: none;
            }
        }
    }
}
// Header
.what-is-new-header {
    height: 12rem;
    background-color: #fff0e2;
    padding: 8px 0 0 50px;
    margin: 10px;
    .what-is-new-header-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
// Body
.what-is-new-body {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: -100px;
    left: 20px;
    background-color: whitesmoke;
    border-radius: 12px;
    // Accordion
    .accordion-before{
        width: 100%;
        box-shadow: none;
        border-radius: 4px;
        border-color: white;
        &::before {
            background-color: transparent;
        }
    }  
    // Body Heading
    .what-is-new-body-heading {
        display: flex;
        gap: 10px;
        width: 100%;
        .what-is-new-body-content-heading {
            font-weight: 600;
            font-size: 1.2rem;
            color: #ef6537;
            width: 220px;
        }
        div {
            display: flex;
            margin: 0;
            gap: 10px;
            align-items: center;
            .what-is-new-body-heading-button {
                background-color: black;
                border-radius: 15px;
                padding: 4px 8px;
                color: white;
                font-size: smaller;
                font-size: 10px;
                font-style: "poppins,sans-serif";
                margin: 0px;
            }
            .what-is-new-body-heading-date {
                color: gray;
                font-size: 12px;
                margin: 0px;
            }
        }
    }

    // Body Content
    .what-is-new-body-content {
        margin: 0px;
        div {
            h2 {
                margin: 0px;
                font-weight: bolder;
                font-size: 1rem;
                margin-bottom: 5px;
            }
            span {
                font-size: small;
            }
            .what-is-new-body-content-list-heading {
                font-weight: 500;
                color: #ef6537;
            }
            .what-is-new-body-content-list-body {
                margin-top: 5px;
                .what-is-new-body-content-list-item {
                    line-height: 2;
                    list-style-type: disc;
                    font-size: 12px;
                    margin-left: 10px;
                    .what-is-new-body-content-sublist-body {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 12px;
                    }
                    &::before {
                        content: none;
                    }
                }
            }
            @include unordered-list;
        }
        .what-is-new-body-content-heading {
            font-weight: 600;
            font-size: 1.5rem;
            color: #ef6537;
            margin-bottom: 10px;
        }
        hr {
            color: pink;
        }
        .ul {
            margin: 0 0 0 20px;
        }
    }
    form {
        margin: 0px;
    }
    .admin-updates-list {
        padding: 0px;
        padding-left: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        li {
            font-size: small;
            padding: 4px;

            &::marker {
                content: "+";
                color: #f06421;
                font-weight: bold;
            }
            &::before {
                content: none;
            }
        }
    }
    .MuiButtonBase-root{
      padding: 0px 16px !important;
    }
}
